<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ru">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="UTF-8"/>
  <title>Панель администратора</title>
  <script src=/navBar.js></script>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-dark bg-dark text-white fixed-top"
     style="display: flex; justify-content: space-between; align-items: center">
  <div id="navbar"></div>
  <div>
    <form th:action="@{/logout}" th:method="post">
      <a href="/logout" th:method="post" style="color: grey">Logout</a>
    </form>
  </div>
</nav>
<div class="p-3"></div>
<div class="p-2 bg-dark text-white">
</div>
<div class="row">
  <div class="col-2 nav-pills p-1 m-0">
    <nav sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link">
      <form th:action="@{/admin}" th:method="get">
        <a href="/admin" th:method="get" style="color: blue">АДМИНИСТРАТОР</a>
      </form>
    </nav>
    <nav sec:authorize="hasRole('ROLE_USER')" class="nav-link active">
      <form th:action="@{/user/}" th:method="get">
        <a href="/user/" th:method="get" style="color: white">ПОЛЬЗОВАТЕЛЬ</a>
      </form>
    </nav>
  </div>
  <div class="container shadow-lg p3 bg-body rounded">
    <h2 style="font-weight: bolder">Пользовательская информационная панель</h2>
    <div class="container shadow-lg p3 mb-5 bg-body rounded">
      <h5 style="font-weight: bold">
        О пользователе
      </h5>
    </div>
    <div class="container shadow-lg p3 mb-5 bg-body rounded">
      <table class="table bg-white table-striped table-borderless border-top w-90">
        <thead>
        <tr>
          <th>ID</th>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>Электронная почта</th>
          <th>Роль</th>
        </tr>
        </thead>
        <tbody id="data"></tbody>
      </table>
    </div>
  </div>
</div>

<script>

fetch('/api/user')
        .then(response => response.json())
        .then(data => savingData(data))
        .catch(error => console.log(error));

const savingData = (data) => {
  console.log(data)
  let roles = data.authorities;
  let bodyRolesString = '';
  for (let i = 0; i < roles.length; i++) {
    bodyRolesString += roles[i].authority.substring(5);
    bodyRolesString += i<(roles.length-1) ? ", " : "";
  }
  document.getElementById('data').innerHTML =
          `<tr>
            <td>${data.id}</td>
            <td>${data.name}</td>
            <td>${data.surname}</td>
            <td>${data.username}</td>
            <td>${bodyRolesString}</td>
          </tr>`;
}


</script>
</body>
</html>


